header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-header {
    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none !important;
        }

        svg.feather-menu-icon {
            color: $white;
            width: 33px;
            height: 33px;
            &:hover {
                color: $orange;
            }
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: end;

        @include for-max-lg {
            .navbar-nav {
                width: 100%;
                padding-top: 10px;
            }
        }

        a {
            color: $white;
            cursor: pointer;

            &:hover, &:focus {
                color: $orange;
            }

            @include for-max-lg {
                width: 100%;
                padding: 8px 1rem;
            }
        }

        .btn-simule-rcpm {
            margin-left: 10px;
            @include flex-center;
            @include for-max-lg {
                width: 100%;
                margin-left: 0;
            }

            a {
                padding: 0;

                @include for-max-lg {
                    padding: 0 1rem 5px;
                }

                button {
                    border: solid 1px $white;
                    border-radius: 0;
                    color: $white;
                    font-size: 12px;
                    cursor: pointer;

                    &:hover, &:focus{
                        color: $orange;
                        border-color: $orange;
                    }
                    @include for-max-lg {
                        width: 100%;
                        padding: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

