header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-header {
    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none !important;
        }

        svg.feather-menu-icon {
            color: $white;
            width: 33px;
            height: 33px;
            &:hover {
                color: $orange;
            }
        }
    }

    .btn-personalizado {
        display: flex;
        align-items: center;
        padding-right: 5px;
        margin-left: 8px;

        a {
            background-color: $orange;
            border-radius: 5px 10px;
            padding: 5px !important;
            font-size: 14px;
            transition: .2s;
            font-weight: 500;

            &:hover {
                box-shadow: 0 0 2px 1px rgba(205, 205, 205, 0.452);
                color: white !important;
                transform: scale(.9);
                -webkit-transform: scale(.9);
                -moz-transform: scale(.9);
            }
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include for-max-lg {
            .navbar-nav {
                width: 100%;
                padding-top: 10px;
            }
        }

        a {
            color: $white;
            cursor: pointer;

            &:hover {
                color: $orange;
            }

            @include for-max-lg {
                width: 100%;
                padding: 8px 1rem;
            }
        }
    }
}

@include for-max-lg {
    .navbar-collapse  {
        display: none !important;
    }
}

.btn-simule-rcpm {
    @include flex-center;
    @include for-max-lg {
        width: 100% !important;
        margin-left: 0;
        padding: 10px 0 !important;
    }

    a {
        padding: 0;
        text-align: center;

        @include for-max-lg {
            width: 100%;
            padding: 0 3rem !important;
        }

        button {
            border: solid 1px $white;
            border-radius: 0;
            color: $white;
            font-size: 12px;
            max-width: 100%;
            cursor: pointer;

            &:hover, &:focus{
                color: $orange;
                border-color: $orange;
            }
            @include for-max-lg {
                width: 100%;
                padding: 10px;
                margin-top: 10px;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: $primary;
    overflow-y: hidden;
    transition: 0.5s;

    @include for-min-lg {
        display: none;
    }
  }

  .overlay-content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: start;
  }

  .overlay li {
    padding-left: 3rem;
    width: 50%;

    a {
        padding: 10px;
        text-decoration: none;
        font-size: 24px;
        color: $light;
        display: block;
        transition: 0.3s;
        font-weight: 500;
    }
  }
  .overlay li a:hover, .overlay a:focus {
    color: $orange;
    cursor: pointer;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .closebtn {
    text-decoration: none;
    z-index: 1001;
    color: $light;
    &:hover {
        color: $orange;
    }
  }

  @media screen and (max-height: 450px) {
    .overlay li a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }