@import './partials/variables';
@import './partials/mixins';
@import './partials/breakpoints';
@import './partials/global';

@import './header/header';
@import './main/know-more';
@import './main/networks';
@import './main/products';
@import './main/rcpm';
@import './footer/footer';

body {
    font-family: $font-family-sans-serif;
}

.simple-container {
    @include flex-center;
    padding: 4rem;
    gap: 2rem;
    width: 100%;
    min-height: 70vh;
    height: 100%;

    .image-section {
        img {
            width: 100%;
            min-width: 250px;
        }
    }
    .description {
        max-width: 50%;

        p, b {
            font-size: 16px;
            text-align: justify;
        }
        b {
            color: rgb(55, 55, 55);
        }
    }


    @include for-max-lg {
        flex-direction: column;

        .image-section {
            text-align: center;
        }
        .description {
            max-width: 590px;
            h1, b {
                text-align: center;
            }
        }
    }
    @include for-max-md {
        .description {
            max-width: 100%;
        }
    }
    @include for-max-sm {
        gap: 1rem;
        padding: 2.5rem;

        .image-section img {
            padding: 10px;
        }
        .description {
            p, b {
                font-size: 14px;
            }
        }
    }
}

.title-section {
    h1 {
        font-size: 30px;
        color: $primary;
        padding-bottom: 10px;

        @include for-max-md {
            font-size: 25px;
        }
    }
}

.nosso-time {
    .simple-container {
        p {
            @include for-max-lg {
                text-align: center !important;
            }
            @include for-max-sm {
                text-align: start !important;
            }
        }
    }
}