@import './utils/variables';
@import './utils/mixins';
@import './utils/breakpoints';
@import './utils/global';

@import './header/header';
@import './main/know-more';
@import './main/out-team';
@import './main/networks';
@import './main/products';

body {
    font-family: $font-family-sans-serif;
}

.simple-container {
    @include flex-center;
    padding: 4rem;
    gap: 2rem;
    width: 100%;
    min-height: 95vh;
    height: 100%;

    .image-section {
        img {
            width: 100%;
            min-width: 250px;
        }
    }
    .description {
        max-width: 50%;

        h1 {
            @include title-style;
            padding-bottom: 10px;
        }
        p, b {
            font-size: 16px;
            text-align: justify;
        }
        b {
            color: rgb(55, 55, 55);
        }
    }


    @include for-max-lg {
        flex-direction: column;

        .about-us-image {
            text-align: center;
        }
        .description {
            max-width: 590px;
            h1, b {
                text-align: center;
            }
        }
    }
    @include for-max-md {
        .description {
            max-width: 100%;
        }
    }
    @include for-max-sm {
        gap: 1rem;
        padding: 2.5rem;

        .about-us-image img {
            padding: 10px;
        }
        .description {
            h1 {
                font-size: 25px;
                padding-bottom: 0;
            }
            p, b {
                font-size: 14px;
            }
        }
    }

}

.nosso-time {
    .simple-container {
        p {
            @include for-max-lg {
                text-align: center !important;
            }
            @include for-max-sm {
                text-align: start !important;
            }
        }
    }
}

.whatsapp-icon-fixed {
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 30px;
    background-color: #25d366;
    color:#FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 3px 2px rgba(176, 194, 160, 0.582);
    z-index: 1000;
    animation: wpp-move .8s infinite alternate;

    @keyframes wpp-move {
        from {
            transform: scale(.75);
            -webkit-transform: scale(.75);
            -moz-transform: scale(.75);
        } to {
            transform: scale(.85);
            -webkit-transform: scale(.85);
            -moz-transform: scale(.85);
        }
    }
}

.back-to-top {
    display: none;
    background: $orange;
    border-radius: 50%;
    bottom: 1rem;
    right: 50%;
    width: 40px;
    height: 40px;
    z-index: 1000;
    box-shadow: 0px 0px 5px 2px rgba(149, 148, 148, 0.1);
    color: white;
    cursor: pointer;
    position: fixed;
    animation: back-to-top .5s infinite alternate-reverse;
    text-decoration: none;
    border: solid 3px $orange;

    &::after {
        content: '▲';
        font-size: 16px;
        color: white;
        position: relative;
        left: 11px;
        top: 3px;
    }

    &:active {
        background-color: #1a1a1a;
    }

    @keyframes back-to-top {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(8px);
        }
    }
}
