@import './utils/variables';
@import './utils/mixins';
@import './utils/breakpoints';
@import './utils/global';

@import './header/header';
@import './main/saiba-mais';
@import './main/about-us';

body {
    font-family: $font-family-sans-serif;
}

.whatsapp-icon-fixed {
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 30px;
    background-color: #25d366;
    color:#FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 3px 2px rgba(176, 194, 160, 0.582);
    z-index: 1000;
    animation: wpp-move .8s infinite alternate;

    @keyframes wpp-move {
        from {
            transform: scale(.75);
            -webkit-transform: scale(.75);
            -moz-transform: scale(.75);
        } to {
            transform: scale(.85);
            -webkit-transform: scale(.85);
            -moz-transform: scale(.85);
        }
    }
}
