footer {
    background-color: $primary;
    padding: 3rem;
    position: relative;

    @include for-max-sm {
        padding: 2rem 15px;
    }

    .footer-container {
        @include flex-center;
        gap: 1rem;

        span {
            color: $white;
        }

        @include for-max-sm {
            gap: 14px;
            span {
                font-size: 14px;
                img {
                    max-width: 17px;
                }
            }
        }
        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            padding: 1rem 0 0;
        }
    }


    .back-to-top {
        background: $orange;
        border-radius: 50%;
        min-width: 45px;
        min-height: 45px;
        box-shadow: 0px 0px 5px 2px rgba(149, 148, 148, 0.1);
        color: white;
        cursor: pointer;
        text-decoration: none;
        border: solid 3px $orange;
        position: absolute;
        bottom: 78%;
        left: 49%;
        &:active {
            background-color: $primary;
        }
        &:hover {
            box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.222);
        }
        @include for-max-sm {
            left: 45%;
            bottom: 72%;
        }

        .chevron-up {
            font-size: 16px;
            color: white;
            position: absolute;
            left: 30%;
            top: 27%;
        }
    }
}

.whatsapp-icon-fixed {
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 30px;
    background-color: #25d366;
    color:#FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.582);
    z-index: 1000;
    animation: wpp-move .8s infinite alternate;

    a {
        @include flex-center;
    }

    @keyframes wpp-move {
        from {
            transform: scale(.75);
            -webkit-transform: scale(.75);
            -moz-transform: scale(.75);
        } to {
            transform: scale(.85);
            -webkit-transform: scale(.85);
            -moz-transform: scale(.85);
        }
    }
}