.about-us-container {
    @include flex-center;
    padding: 4rem;
    gap: 2rem;
    width: 100%;

    .about-us-image {
        img {
            width: 100%;
            min-width: 250px;
        }
    }
    .about-us-description {
        max-width: 50%;

        h1 {
            font-size: 2rem;
            text-align: start;
            color: $primary;
            padding-bottom: 10px;
        }
        p, b {
            font-size: 16px;
            text-align: justify;
        }
        b {
            color: rgb(55, 55, 55);
        }
    }


    @include for-max-lg {
        flex-direction: column;

        .about-us-image {
            text-align: center;
        }
        .about-us-description {
            max-width: 590px;
            h1 {
                text-align: center;
            }
            b {
                text-align: center;
            }
        }
    }
    @include for-max-md {
        .about-us-description {
            max-width: 100%;
        }
    }
    @include for-max-sm {
        gap: 1rem;
        padding: 2rem;
        .about-us-image img {
            padding: 10px;
        }
        .about-us-description {
            h1 {
                font-size: 25px;
                padding-bottom: 0;
            }
        }
    }

}