.color-white {
  color: #fff !important;
}

.color-blue {
  color: #377dc3 !important;
}

.color-gray {
  color: #b8c2cc !important;
}

.color-light {
  color: #f6f6f6 !important;
}

.color-red {
  color: #ea5455 !important;
}

.color-green {
  color: #28c76f !important;
}

.color-dark {
  color: #4b4b4b !important;
}

.color-gray-dark {
  color: #1e1e1e !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-blue {
  background-color: #377dc3 !important;
}

.bg-secondary {
  background-color: #82868b !important;
}

.bg-success {
  background-color: #28c76f !important;
}

.bg-danger {
  background-color: #ea5455 !important;
}

.bg-dark {
  background-color: #4b4b4b !important;
}

.bg-gray-dark {
  background-color: #1e1e1e !important;
}

.bg-gray {
  background-color: #b8c2cc !important;
}

.bg-purple {
  background-color: #7367f0 !important;
}

.bg-green {
  background-color: #28c76f !important;
}

.bg-warning {
  background-color: #ff9f43 !important;
}

.bg-light {
  background-color: #f6f6f6 !important;
}

.d-flex {
  display: flex !important;
}

.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

.direction-column {
  flex-direction: column !important;
}

.gap-5px {
  gap: 5px !important;
}

.gap-10px {
  gap: 10px !important;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.p-5px {
  padding: 5px !important;
}

.p-8px {
  padding: 8px !important;
}

.p-10px {
  padding: 10px !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.m-5px {
  margin: 5px !important;
}

.m-8px {
  margin: 8px !important;
}

.m-10px {
  margin: 10px !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

.h-10 {
  height: 10%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-header .navbar-toggler {
  border: none;
}
.navbar-header .navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-header .navbar-toggler svg.feather-menu-icon {
  color: #fff;
  width: 33px;
  height: 33px;
}
.navbar-header .navbar-toggler svg.feather-menu-icon:hover {
  color: #ff9f43;
}
.navbar-header .nav-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 992px) {
  .navbar-header .nav-container .navbar-nav {
    width: 100%;
    padding-top: 10px;
  }
}
.navbar-header .nav-container a {
  color: #fff;
  cursor: pointer;
}
.navbar-header .nav-container a:hover, .navbar-header .nav-container a:focus {
  color: #ff9f43;
}
@media (max-width: 992px) {
  .navbar-header .nav-container a {
    width: 100%;
    padding: 8px 1rem;
  }
}
.navbar-header .nav-container .btn-simule-rcpm {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .navbar-header .nav-container .btn-simule-rcpm {
    width: 100%;
  }
}
.navbar-header .nav-container .btn-simule-rcpm a {
  padding: 0;
}
@media (max-width: 992px) {
  .navbar-header .nav-container .btn-simule-rcpm a {
    padding: 0 1rem 5px;
  }
}
.navbar-header .nav-container .btn-simule-rcpm a button {
  border: solid 1px #fff;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.navbar-header .nav-container .btn-simule-rcpm a button:hover, .navbar-header .nav-container .btn-simule-rcpm a button:focus {
  color: #ff9f43;
  border-color: #ff9f43;
}
@media (max-width: 992px) {
  .navbar-header .nav-container .btn-simule-rcpm a button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}

.saiba-mais {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.saiba-mais span.seja-bravo {
  color: #ff9f43;
  font-weight: 500;
  letter-spacing: 7px;
  font-size: 14px;
  transition: 0.2s;
}
.saiba-mais span.specialty-description {
  color: #fff;
  font-size: 50px;
  width: 70%;
  text-align: center;
  transition: 0.2s;
  padding: 0 2rem;
  font-size: 50px;
}
@media (max-width: 1200px) {
  .saiba-mais span.specialty-description {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .saiba-mais span.specialty-description {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .saiba-mais span.specialty-description {
    width: auto;
    font-size: 24px;
  }
}
.saiba-mais button.btn-saiba-mais {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #F58634;
  border: none;
  padding: 8px 30px;
  margin-top: 0.6rem;
  transition: 0.2s;
}

body {
  font-family: "Montserrat", Helvetica, Arial, serif;
}

.whatsapp-icon-fixed {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 30px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  -webkit-animation: wpp-move 0.9s infinite alternate;
          animation: wpp-move 0.9s infinite alternate;
}
@-webkit-keyframes wpp-move {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(0.85);
  }
}
@keyframes wpp-move {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(0.85);
  }
}